<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            图书书名：<input type="text" name="booktitle" placeholder="输入书名">
            <br>
            出版日期：<input type="date" name="bookpub_date">
            <br>
            图书价格：<input type="number" step="0.1" name="bookprice" placeholder="输入价格">
            <br>
            作者姓名：<input type="text" name="bookauthor" placeholder="作者姓名">
            <br>
            <br>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>