<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    
    <div class="center">
        <img src="/static/img/onepiece1.png" alt="onepiece">
    </div>

    <div class="contain">
        <h1>这里是首页</h1>
        <h2>书籍:</h2>
        <ul>
            {% for book in books %}
            {# <a href="/detail/{{book.id}}"><li>{{book.id}}--{{book.title}}--{{book.price}}--{{book.pub_date}}--{{book.author}}</li></a> #}
            <a href="{% url 'booktest:detail' book.id %}"><li>{{book.id}}--{{book.title}}--{{book.price}}--{{book.pub_date}}--{{book.author}}</li></a>

            {% endfor %}
        </ul>
    </div>
</body>
</html>