{% extends 'base.html' %}

{% block body %}
    <div class="con">
        <h1>投票信息汇总</h1>
        <ol>
            {% for poll in polls %}
            <li>
                <a href="{% url 'polls:poll_detail' poll.id %}">{{poll.vote_title}}</a>
            </li>
            {% endfor %}
        </ol>
        {% comment %}
        {{name|safe}}
        {% autoescape off %}
            {{name}}长度：{{name|length}}
        {% endautoescape %}
        <br>
        {% for item in items %}
            循环
        {% empty %}
            items为空
        {% endfor %}
        {% endcomment %}
    </div>
   {# {% include "other.html" %} #}
{% endblock %}
