{% extends 'base.html' %}

{% block title %}
    投票详情
{% endblock %}

{% block body %}
    <h1>投票信息：</h1>
    <h3>投票选项</h3>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <ul>
                {% for vote in vote_info.voteoption_set.all %}
                    {% if forloop.counter == 1 %}
                        <li><input type="radio" name="voted" checked value= "{{vote.content}}">{{vote.content}}</li>
                    {% else %}
                        <li><input type="radio" name="voted" value= "{{vote.content}}">{{vote.content}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <input type="submit" value="投票">
            <a href="{% url 'polls:poll_index' %}">返回</a>
        </form>
    </div>
{% endblock %}
